<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<div class="row no-gutters py-3 p-lg-5 p-md-5 p-sm-1 " style="background-color:rgb(0,0,0);">
        
        <div class="col-12 text-center text-white">
            <img src="https://plouton.com.ar/img/logo_plouton_web_blanco.png" alt="" title="">
            <h3 class="greek flopu">astrolog&iacute;a y dise&ntilde;o</h3>
        </div>
   
    
        <div class="col-12">
            <h6 class="text-center text-white greek flopu">
                Flopu DeMarie:<br/> <a class="text-white" style="text-decoration: none;" href="tel:1158373644">11 5837 3644</a>
            </h6>
            <h6 class="text-center text-white greek flopu">Escribime a:
                <a class="text-center text-white" href="mailto:pedidos@plouton.com.ar" title="pedidos@plouton.com.ar">pedidos@plouton.com.ar</a>
            </h6>
        </div>
        
    </div>
    
<div class="col-ms-12 text-center text-secondary p-2 text-white greek flopu">
    <img src="https://micuenta.donweb.com/img/sectigo_positive_sm.png" title="ssl" alt="ssl">
    <p style="font-size:13px;">Dise&ntilde;o y realizaci&oacute;n por defelicerafael@gmail.com para Maccingames.srl . Argentina. Mayo 2020</p>
</div>
    

        
    